body {
	background-color: #52b4af;
}

.mdl-card {
	width: 100%;
}

.mdl-card__actions.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.01);
}

.mdl-card__title-text {
	text-transform: uppercase;
	font-size: 20px;
}

.mdl-button--accent.mdl-button--accent  {
	color: #9c6a8d;
}

.space-around {
	display: flex;
	justify-content: space-around;
}

.card-title {
	background-color: #b6dedc;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.no-top-margin {
	margin-top: 0;
}